<% provide(:title, "India |") %>
<h1>India</h1>
<div class="row">
  <h2>Hope of Glory Children's Home</h2>
  <div class="col-md-6">
    <p>Hope of Glory Children’s Home is located in the Araku Valley, India. Hope of Glory houses 65 tribal children who are orphaned, abandoned, and severely impoverished. The children are housed, fed and schooled in a loving environment and given a chance to better their future.</p>
    <p>Hope of Glory only admits the worst cases from the mountains surrounding the Araku Valley. The children from Hope of Glory will return to their villages as educated individuals and will be a positive impact on their tribal societies.</p>
  </div>
  <div class="col-md-6">
     <%= image_tag 'india/hope_of_glory.jpg', class: 'img img-responsive' %>
  </div>
</div>
<div class="row">
  <h2>Sunshine School</h2>
  <div class="col-md-6">
     <%= image_tag 'india/sunshine.jpg', class: 'img img-responsive' %>
  </div>
  <div class="col-md-6">
    <p>The  Sunshine Free School is located in Visakhaptnum. The school is on the edge of a slum community and gives free education to impoverished children who cannot  afford to attend school.  The Sunshine Free School is taught in the English medium and 300 children are receiving free education and one meal per day.</p>
    <p>Through the school, relationships are built with the children and eventually the parents. By building these relationships, the Sunshine Free School  staff is then able to go safely into the slum area to do additional community development .</p>
    <p>Due to the presence of the Sunshine Free School, the slum area has been gradually upgraded.  The quality of life has improved and lives changed.i</p>
  </div>
</div>
<br />
<div class="well">
  <div class="row">
    <div class="col-md-8">
      <p>Sponsorship Text</p>
    </div>
    <div class="col-md-4">
      <a href="#" class="btn btn-lg btn-default btn-block">Click to Give</a>
    </div>
  </div>
</div>
