<% provide(:title, "Thailand |") %>
<h1>Thailand</h1>
<div class="row">
  <h2>Hope House Children's Home</h2>
  <div class="col-md-6">
    <p>Hope House Children’s Home is located in Chiang Mai, Thailand. Most of the children who come to Hope House were living in abject poverty in remote villages in the highlands of Thailand. They were orphaned, abandoned or neglected and had no access to an education. Some of these young children were at risk of being sold into prostitution or child labor. Hope House rescues these children from this sad fate by providing them with a place that they can call home.</p>
    <p>Hope House gives these children an opportunity to attend school which they might not otherwise be able to get. Hope house is there to meet their physical and emotional needs as well as be a home where they can experience a family environment.</p>
    <p>Currently Hope House Children’s Home educates, feeds and clothes 76 deserving children from the surrounding mountain areas. Please consider supporting Hope House with a monthly donation.</p>
  </div>
  <div class="col-md-6">
     <%= image_tag 'thailand/hope_house.jpg', class: 'img img-responsive' %>
  </div>
</div>
<div class="row">
  <h2>Hope and a Future Learning Center</h2>
  <div class="col-md-6">
     <%= image_tag 'thailand/hope_and_a_future.jpg', class: 'img img-responsive' %>
  </div>
  <div class="col-md-6">
    <p>Hope and a Future School Learning Center is located in Chiang Mai, Thailand on the Projects for Asia Campus. The school is a type of “home school” for the children living in the Hope House Children’s Home. Grades 1 – 12 are offered at the school and are taught based on each child’s academic ability, not age. </p>
    <p>Coming from remote tribes, the children often have inferior academic backgrounds or no previous schooling at all. The children converse in their tribal languages and do not speak Thai which is the language spoken in the public schools. Some children arrive at Hope House advanced in age but functioning at early primary grade levels. The Hope and a Future teachers teach to strengthen the children’s weaknesses and strive to help each child be literate in Thai and function with basic math ability.</p>
    <p>Also, seeing the great need to make our children self-sustaining upon leaving Hope House, the school provides vocational training in practical life skills. For those children who are academically able, they may choose the university tract and pursue their desire for higher education.</p>
  </div>
</div>
<div class="row">
  <h2>Next Steps</h2>
  <div class="col-md-6">
    <p>After grauating from Hope and a Future’s Learning Center some of our children have joined our staff as Junior House Parents. We are thrilled to see the strong character and confidence that has been instilled in them. They have vision and hope for their futures. Now it is time to push forward into the next chapter of their lives.</p>
    <p>As Junior House Parents the graduates will continue to live at Hope House. They will share their time between taking on line college courses and working in the home. The teens are strong examples to the younger Hope House children. They will be used in a mentoring capacity. They will help in our learning center as teaching aids.</p>
    <p>Projects For Asia will continue to support them reach their future goals. We believe they are the future of Thailand!</p>
  </div>
  <div class="col-md-6">
     <%= image_tag 'thailand/next_steps.jpg', class: 'img img-responsive' %>
  </div>
</div>
<br />
<div class="well">
  <div class="row">
    <div class="col-md-8">
      <p>Sponsorship Text</p>
    </div>
    <div class="col-md-4">
      <a href="#" class="btn btn-lg btn-default btn-block">Click to Give</a>
    </div>
  </div>
</div>
